# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bc3b2c025e9ad22e86ad5cb48d3f449c3b5e615bd6f8974b849a61f1d363f4beb2430804c4cca20714084124f879afd4f111b45d2edf468e1d3d0a5cf185d56d

test:
  secret_key_base: a18c2e5ffdc40d03b32addd049a16b0b2fe20c49e6bf06fc31f6c990bc6493f53e1cfed8dea933c7e3d8ff31d536c1542fbb4ed6ecb41ae239b0c5b4f61aed4c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
